/* 
Implements some WCAG guidelines
https://www.w3.org/WAI/WCAG21/quickref/
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem; /* use rem units for font-size */
  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  background-color: #FFB6C1;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-section .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

h1, h2 {
  color: #333;
}
.container {
  width: 90%; /* set the width to a percentage */
  max-width: 900px; /* set a max-width so it doesn't get too wide on large screens */
  margin: 0.5em auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 2%; /* use percentage for padding as well */
  border-radius: 1.5rem; /* use rem units for border-radius */
}
.profile-image {
  border-radius: 20px;
  width: 150px;
  transition: transform .2s;
}
.profile-image:hover {
  transform: scale(1.1);
}
a {
  color: #0088cc;
}
a:hover {
  color: #005580;
} 

/* 
highlight interactive elements (links, buttons) when they are focused
 */
a:focus, button:focus {
  outline: 3px solid #000;
}

.pride-button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #FF00FF;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.pride-button:hover {
  background: #E600E6;
}

a, .pride-button {
  color: #333; /* increase font contrast */
}

.pride-button:focus {
  box-shadow: 0 0 0 3px #000; /* use box-shadow for focus */
}
.spin {
    display: inline-block;
    animation: spin 2s linear infinite;
}
